<div class='header-chat-info-wrapper border-b border-super-light-gray-border'>
  <div class='header-chat-info-container flex flex-1 px-3 py-2'>
   
    <div class='header-chat-image-container'> 
      {% if chat.users.size > 2 %}

        {% render 'chat_message_header_images', chat: chat, userLogged: user %}

      {% else %}
        {% for chatUser in chat.users %}
            {% if chatUser._id != user._id %}
                <a href="/profile/{{chatUser.username}}">
                    {% render 'small_profile_image_rounded', user: chatUser %}
                </a>
            {% endif %}
        {% endfor %}
        {% comment %} User which is logged in is always in the last place so to fisplay other users image i get the first from the array (only two in array) {% endcomment %}

      {% endif %}
    </div>

    <div class='header-chat-name flex flex-1 items-center ml-4'>
      <h4 class='w-full hover:border-b hover:border-brand-purple hover:cursor-text py-1 px-2 text-gray-700 text-lg' data-chat-id='{{chat._id}}'>
        {% if chat.chatName %}
          {{chat.chatName}}
        {% else %}
          {% for chatUser in chat.users %}
              {% if chatUser._id != user._id %}
                  {{chatUser.fullName}}
              {% endif %}
          {% endfor %}
        {% endif %}
      </h4>
    </div>
  </div>

</div>


<div class="chat-messages-container flex flex-1 flex-col h-full overflow-y-auto pt-2">
  {% for message in messages %}
      {% render 'chat_message_row', message: message, user: user, chat: chat %}
  {% endfor %}
</div>

<div class='chat-typing-container hidden w-full h-8 px-3 pb-14 pt-2'>
  <img src="http://localhost:3000/assets/loading-dots.gif" alt="dots" class='h-16' />
</div>

<div class='footer-chat-messages-container flex py-2 px-2'>

  <textarea 
  class='chat-message-ta resize-none block border-none text-dark-gray-for-text bg-black bg-opacity-5 w-11/12 rounded-2xl h-10 py-2' 
  placeholder="Type your new message..."></textarea>

  <button class='ml-1 px-3 hover:bg-comment-button-blue-background rounded-full' id='emoji-button'>😀</button>
  <button class='px-3 hover:bg-comment-button-blue-background rounded-full' id='send-message-button' data-chat-id='{{chat._id}}'>
    <i class="fas fa-paper-plane text-comment-button-blue text-lg pointer-events-none"></i>
  </button>
</div>

<div class='chat-emojis-tooltip hidden absolute bottom-14 right-5' id='chat-emojis-tooltip'></div>