<div class='post-wrapper w-full border-b-2 border-brand-light-gray flex flex-row space-x-5 py-3 px-8 justify-between' data-pid="{{post._id}}">
  <div class='post-content-container flex flex-col w-full text-lg'>
    <div class='post-content__info flex flex-row items-start w-full'>
      <div class="post-content__image-container">
        <img 
          class="rounded-full bg-white w-14 h-14" 
          src="{{post.postedBy.profilePic}}" 
          alt="{{post.postedBy.username}} profile pic" 
        />
      </div>

      <div class='post-content__user-info ml-2'>
        <p class="name font-bold -mb-1">{{post.postedBy.firstName}} {{post.postedBy.lastName}}</p>
        <span class="username text-sm text-gray-500 ">@{{post.postedBy.username}}</span>
      </div>
    </div>

    <div class="post-content__text w-full mt-2">
      <p class="">{{post.content}}</p>
    </div>

    <div class='post-content__time-posted-wrapper my-3'>
      <div class='post-content__time-posted-container text-sm text-[#5b7083]' >
        {% comment %} <span class='time'>{{post.time}}</span> {% endcomment %}
        <span class='time'>10:33 AM ·</span>
        {% comment %} <span class='date'>{{post.date}}</span> {% endcomment %}
        <span class='date'> May 31, 2021</span>
      </div>
    </div>

    <div class='post-content__numbers-wrapper flex justify-center  border-b border-t border-gray-200'>
      <div class='w-full py-3'>
        <div class='post-content__numbers-container w-1/2 flex justify-between text-base'>
          <div class='retweets-container w-1/4 flex items-baseline'>
            <span class='font-bold mr-1'>{{post.retweetUsers.size}}</span>
            <span class=''>Retweets</span>
          </div>
          
          <div class='comments-container w-1/4 flex items-baseline'>
            <span class='font-bold mr-1'>{{repliesNum}}</span>
            <span class=''>Comments</span>
          </div>
          
          <div class='likes-container w-1/4 flex items-baseline'>
            <span class='font-bold mr-1'>{{post.likes.size}}</span>
            <span class=''>Likes</span>
          </div>
        </div>
      </div>
    </div>
    
    <div>
      {% render 'post_buttons_wrapper', post: post, user: user, showNumbers: false %}
    </div>
  </div>
</div>