{% assign postID = post._id %}
{% assign originalPost = post.replyTo %}
{% assign commentPostedByUser = post.postedBy %}
{% assign originalPostPostedByUser = post.replyTo.postedBy %}

<div class='post-wrapper animate__animated w-full border-b border-super-light-gray-border flex flex-row justify-between pb-3' >
  <div class='images-wrapper w-1/12 flex flex-col items-center px-14 pt-2 pb-2'>
      <a href="/profile/{{originalPostPostedByUser.username}}" class='cursor-pointer mb-3'>
        {% render 'small_profile_image_rounded', user: originalPostPostedByUser, additionalClasses: 'pt-2' %}

        {% comment %} <div class="post__image-container w-14 h-14 pt-2">
          <img 
            class="rounded-full bg-white" 
            src="{{originalPostPostedByUser.profilePic}}" 
            alt="{{originalPostPostedByUser.username}} profile pic" 
          />
        </div> {% endcomment %}
      </a>

      <div class="left-column__line-separator border bg-[#c4cfd6] border-[#c4cfd6]"></div>

      <a href="/profile/{{commentPostedByUser.username}}" class='cursor-pointer'>
        {% render 'small_profile_image_rounded', user: commentPostedByUser, additionalClasses: 'pt-2' %}
{% comment %} 
        <div class="post__image-container w-14 h-14 pt-2">
          <img 
            class="rounded-full bg-white" 
            src="{{commentPostedByUser.profilePic}}" 
            alt="{{commentPostedByUser.username}} profile pic" 
          />
        </div> {% endcomment %}
      </a>
  </div>
  
  
  <div class='posts-comment-wrapper w-11/12 flex flex-col justify-around'>
    <div class='original-post w-full flex flex-row space-x-5 border-b border-super-light-gray-border bg-opacity-25 justify-between py-4 pr-8' data-pid="{{originalPost._id}}">

      <div class='post-content-container flex flex-col w-full'>
        <div class='post-content__info flex flex-row items-center w-full'>
          <div class='w-8/12 flex flex-row items-center '>

            <div class="post-content-info__username-container cursor-pointer">
              <p class="name font-bold">
                <a href="/profile/{{originalPostPostedByUser.username}}">{{originalPostPostedByUser.fullName}} - </a>
              </p>
            </div>
            
            <div class="post-content-info__email-container ml-1 cursor-pointer">
              <a class="username text-brand-blue font-medium" href="/profile/{{originalPostPostedByUser.username}}">@{{originalPostPostedByUser.username}}</a>
            </div>
            
            <div class="post-content-info__time-container ml-1 cursor-default">
              <p class="time font-normal">- {{originalPost.fromNow}}</p>
            </div>
          </div>

    {% if user._id == post.postedBy._id%}
          <div class='w-4/12'>
            <div class="delete-post-button-wrapper flex items-start justify-end pr-2">
              <button type="button" class="cursor-pointer delete-post-button focus:outline-none p-2 rounded-full">
                  <svg viewBox="0 0 24 24" aria-hidden="true" class="fill-current pointer-events-none text-mid-gray-for-text w-5 h-5">
                      <g><path class='' d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path></g>
                  </svg>
              </button>
            </div>
          </div>
    {% endif %}

        </div>

        <div class="post-content__text w-11/12 mt-1 cursor-pointer">
          <p>{{originalPost.content}}</p>
        </div>

        {% render 'post_buttons_wrapper', post: originalPost, user: user, showNumbers: true %}
      </div>
    </div>

    <div class='comment-post original-post w-full flex flex-row space-x-5 justify-between pt-4 pr-8' data-pid="{{postID}}">

        <div class='post-content-container flex flex-col w-full'>
          <div class='post-content__info flex flex-row items-center w-full'>
            <div class='w-8/12 flex flex-row items-center '>

              <div class="post-content-info__username-container cursor-pointer">
                <p class="name font-bold">
                  <a href="/profile/{{post.postedBy.username}}">{{commentPostedByUser.fullName}} - </a>
                </p>
              </div>
              
              <div class="post-content-info__email-container ml-1 cursor-pointer">
                <a class="username text-brand-blue font-medium" href="/profile/{{commentPostedByUser.username}}">@{{commentPostedByUser.username}}</a>
              </div>
              
              <div class="post-content-info__time-container ml-1 cursor-default">
                <p class="time font-normal">- {{post.fromNow}}</p>
              </div>
            </div>

      {% if user._id == post.postedBy._id%}
            <div class='w-4/12'>
              <div class="delete-post-button-wrapper flex items-start justify-end pr-2">
                <button type="button" class="cursor-pointer delete-post-button focus:outline-none p-2 rounded-full">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="fill-current pointer-events-none text-mid-gray-for-text w-5 h-5">
                        <g><path class='' d="M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z"></path></g>
                    </svg>
                </button>
              </div>
            </div>
      {% endif %}

          </div>

          <div class='w-full'>
            <p class='text-gray-500 text-base font-semibold'>
              Replying to <a class='text-brand-blue font-medium cursor-pointer' href="profile/{{commentPostedByUser.username}}">@{{ originalPostPostedByUser.username }}</a>
            </p>
          </div>

          <div class="post-content__text w-11/12 mt-1 cursor-pointer">
            <p>{{post.content}}</p>
          </div>

          {% render 'post_buttons_wrapper', post: post, user: user, showNumbers: true %}
        </div>
    </div>
  </div>
  
    
  
</div>